# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science:
- List commonly used libraries for Data Science
- List development environment open source tools used in data science

## Author: 
Rennie Mathews

#### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Pandas

#### 
|Data Science Tools|
|------------------|
|RStudio           |
|Apache Spark      |
|TensorFlow        |

### Below are a few examples of evaluating arithmetic expressions in Python

#### This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [8]:
200/60

3.3333333333333335